/* Estilos generales del cuerpo y HTML */
*{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive; /* Fuente arcade */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}
/* Título del juego */
form{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    margin-bottom: 1vh;
}
form span {
    color: #ffcc00;
    text-shadow: 2px 2px 0 #ff0000;
    margin-bottom: 20px;
}
form input{
    background-color: white;
    width: 40vw;
    height: 4vh;
    font-family: 'Press Start 2P', cursive; /* Fuente arcade */
    padding: 1vh;
}